---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
  background-color: rgb(44, 44, 44);
  color: antiquewhite;
}

body {
    font-family: "Roboto Slab";
  }

  h2, a {
    color: #125751;
  }
  
  .view, footer {
    display:none;
  }